<div class="article-box">
  <% @articles.each do |article| %>
    <article class="index-article">
      <h3 class="title"><%= link_to article.title, article %></h3>
      <p><%= article.content[0..200]%>...</p>
      <p class="read"><%= link_to "> Read", article %></p>
    </article>
  <% end %>
</div>


