.link-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-content: space-around;
  margin: 0;
}

.article-show {
  margin-bottom: 18px;
  h1 {
    background-color: #FFFAEF;
    border-radius: 8px;
    padding: 18px;
    &:hover {
    }
  }
}
