.button {
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  font-size: bold;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  font-size: 16px;
  padding: 8px;
  background-color: #fff1cf;
  &:hover {
    color: #fff1cf;
    background-color: #263f44;
  }
  a:hover {
  color: #fff1cf !important;
  }
}



