.button {
  text-decoration: none !important;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  font-size: bold;
  font-size: 16px;
  padding: 8px;
  background-color: #FFFAEF;
  &:hover {
    color: #ffd369;
    background-color: #263f44;
  }
  a:hover {
  color: #ffd369 !important;
  }
  transition: 0.4s ease;
}



