<h1>New category</h1>

<%= render 'form' %>

<hr>

<h4>
  <button type="button" class="button">
    <%= link_to 'Back', articles_path %>
  </button>

  <button type="button" class="button">
    <%= link_to 'All categories', categories_path %>
  </button>
</h4>

