<nav class="navbar navbar-default" role="navigation">
    <div class="new-article">
      <h4><%= link_to articles_path do %>The DAO Book //<% end %></h4>
    </div>
    <div class="new-article">
      <h4><%= link_to new_article_path do %>New Article<% end %></h4>
    </div>

      <div class="new-article">
      <h4><%= link_to categories_path do %>Categories<% end %></h4>
    </div>

    <div class="new-article">
      <h4><%= link_to new_article_path do %>Resources<% end %></h4>
    </div>
</nav>
